#logo {
    $logo-box-height: 12em;
    
    margin: ($logo-box-height/2*-1) auto 0;
    
    width: 20em;
    height: $logo-box-height;
    
    position: relative;
    top: 40%;
    
    text-align: center;
    
    
    h1 {
        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
    }
    
    img {
        width: 80px;
        height: auto;
    }
}

.around-the-web {
    @extend .list-inline;
}