#logo {
    margin: -5em auto 0;
    
    width: 20em;
    height: 10em;
    
    position: relative;
    top: 40%;
    
    text-align: center;
    
    
    h1 {
        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
    }
    
    img {
        width: 80px;
        height: auto;
    }
}